.footer {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.footer2 {
    color: black;
    font-size: medium;
    font-family: sans-serif,serif, cursive;
}

.links {
    color: blue;
    text-decoration: underline;
}

.subheading {
    color: whitesmoke;
}

.resume {
    position: absolute;
}

.links2 {
    color: hotpink;
}

.links3 {
    color: black;
    text-decoration: underline;
    font-size: 14px
}

.resume {
    font-weight: bold;
}
